[package]
name = "blockchain"
version = "0.1.0"
edition = "2024"

[dependencies]
sha2 = "0.10"
hex = "0.4"
serde = { version = "1.0", features = ["derive"] }
rand = "0.8"
ed25519-dalek = { version = "2.2.0", features = ["rand_core"] }